* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.card{
    position: relative;
    font-size: 12px;
}

.cards-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    margin: 25px 36px 36px 36px;
}

.card-image{
    width: 150px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 9px;
}

.logo{
    max-width: 82px;
}

.card-star{
    color: #FE395C;
}

.card-price{
    font-weight: bold;
}

.color-grey{
    color: #918E9B;
}

.card-status{
    width: 61px;
    height: 20px;
    background: white;
    font-size: 11px;
    border-radius: 2px;
    line-height: 110%;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 0;
    text-align: center;
}

.navbar{
    padding: 22px 30px;
    height: 70px;
    box-shadow: 0 2.9825px 7.4564px 0 rgba(0, 0, 0, 0.1);


}
.hero-image{
    display: block;
    max-width: 400px;
    margin: 0 auto 32px auto;
}

.hero-heading{
    font-size: 36px;
    line-height: 40px;
}

.hero-desc{
    padding: 0 6px;
}

.hero-text{
    width: 320px;
    line-height: 18px;
}

.hero{
    padding: 26px 36px;
}

.wrapper{
    font-family: 'Poppins', sans-serif;
    width: 550px;
}
